h1, p {
    text-align: center;
}

a {
    color: black;
}

ul:hover, ol:hover {
    background-color: blue;
}

li:active {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

li {
    list-style: none;
}
